.containerContact {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgb(255, 255, 255, 0.5), rgb(255, 255, 255, 0.5)),
    url("https://res.cloudinary.com/lvimeridijan/image/upload/v1692866812/kosmedik/IMG_2844-scaled_wthwu1.jpg")
      center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  .wrapper {
    padding: 20px;
    width: 45%;
    background-color: white;
  }
}
